<h2>Hello <fb:name uid="<%= current_user.identifier %>" useyou="false"></fb:name>!</h2>
<a href="#" id="app_request">App Request</a>
<script>
$(function () {
  $('#app_request').click(function () {
    FB.ui({
      method: 'apprequests',
      message: 'You should learn more about this awesome game.',
      data: 'tracking information for the user'
    });
  });
});
</script>

<ul class="timeline">
  <% @posts.each do |post| %>
    <li class="post clearfix">
      <div class="avatar">
        <fb:profile-pic uid="<%= post.from.identifier %>" size="square"></fb:profile-pic>
      </div>
      <strong><fb:name uid="<%= post.from.identifier %>"></fb:name></strong>
      <%= post.message || post.caption || post.description %>
    </li>
  <% end %>
</ul>