/*-----------------]: base :[---------------------*/

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana;
  color: #333;
  background: #77787C;
}
a {
  color: #0084B4;
  text-decoration: none;
}
a:hover {
  color: #57B6DD;
  text-decoration: underline;
}
p {
  margin: 1em;
}
dt {
  font-weight: bolder;
}
dd {
  margin: .5em 0 1em 1em;
}
img {
  border: none;
}
h2 {
  color: #222;
  font-size: 17px;
  font-weight: bolder;
  padding: 0 0 7px 4px;
}
ul {
  list-style: none;
}
ol {
  padding-left: 3em;
}
.clearfix {
  zoom:1;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/*-----------------]: framework :[---------------------*/

.container {
  width: 100%;
  background: #FFFCF5 url('/images/body_back.png') repeat-x left -60px;
}
.container > header {
  color: #FFF;
  height: 120px;
  margin-bottom: 60px;
  background: url('/images/header_back.png') repeat-x top left;
}
.container > header h1,
.container .main {
  width: 800px;
}
.container > header h1 {
  text-align: center;
  margin: 0 auto;
  padding-top: 45px;
}
.container .main  {
  margin: 0 auto;
  min-height: 400px;
}
.container .main > section {
  float: left;
  width: 480px;
}
.container .main > aside {
  float: right;
  width: 300px;
}
.container > footer {
  text-align: center;
  height: 17px;
  padding: 85px 0 20px;
  background: #333 url("/images/footer_back.png") repeat-x;
}


/*-----------------]: main :[---------------------*/

.container .main > aside .avatar {
  margin-bottom: 10px;
}

.main .timeline .post {
  padding: 5px;
}
.main .timeline .post .avatar {
  float: left;
  margin-right: 5px;
  width: 50px;
  height: 50px;
}


/*-----------------]: footer :[---------------------*/

.container > footer p {
  color: #C1B49A;
  font-size: .9em;
  margin: 0 20px;
}
.container > footer a {
  color: #AEDEE4;
}


/*-----------------]: gritter :[---------------------*/

#gritter-notice-wrapper {
  text-align: left;
}
#gritter-notice-wrapper a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}