<footer>
  <ul>
    <li><small class="copytight">&copy; 2010-<%= Time.now.year %> <a href="http://matake.jp">nov matake</a></small></li>
    <li>
      Donation? Then, <%= link_to 'please help testing my PayPal Express gem with your $1', 'https://paypal-express-sample.heroku.com' %> ;)
    </li>
  </ul>
</footer>